# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# AWS
AWS_REGION=ap-south-1
AWS_S3_BUCKET=my-bucket-name
AWS_ACCESS_KEY_ID=xxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxx
CDN_BASE_URL=https://cdn.myapp.com