# ENV
NODE_ENV=development
PORT=4001

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=1d

# AWS
AWS_REGION=ap-south-1
AWS_S3_BUCKET=my-bucket-name
AWS_ACCESS_KEY_ID=xxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxx
CDN_BASE_URL=https://cdn.myapp.com


# MONGO_URL
MONGO_URL=mongodb://localhost:27017/ads_stack